.app {
	--content-max-width: 1000px;
	width: 100vw;
}

.app > * {
	width: 100%;
}

.header {
	background-color: #069;
	color: white;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

.header > div {
	max-width: var(--content-max-width);
}

.main {
	display: flex;
	justify-content: center;
	min-height: 60vh;
}

.main > div {
	display: flex;
	justify-content: space-between;
	max-width: var(--content-max-width);
}

.main > div > div {
	width: 45%;
}
