.container {
	font-family:
		monaco,
		Consolas,
		Lucida Console,
		monospace;
	display: block;
}

.row {
	display: flex;
	min-height: 1em;
}

.red {
	background-color: #ffeeee;
}

.red em {
	position: relative;
	background-color: #ffaaaa;
}

.green {
	background-color: #eeffee;
}

.green em {
	position: relative;
	background-color: #aaffaa;
}

.pre {
	white-space: pre-wrap;
}
