.container {
	font-family:
		monaco,
		Consolas,
		Lucida Console,
		monospace;
	display: block;
}

.row {
	display: flex;
	min-height: 1em;
}

.red {
	background-color: #ffcccc;
}

.green {
	background-color: #ccffcc;
}
